@import "../node_modules/bootstrap/scss/bootstrap";

.price-primary {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.8rem;
}

.price-secondary {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 1rem;
}

.backgorund-primary {
  background-color: hsl(158, 36%, 37%);
}

.backgorund-primary:hover {
  display: block;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.card-title {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.1rem;
}

.card-text {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.text-spacing {
  letter-spacing: 0.3rem;
}
